/*

Archivo de estilos CSS para el portafolio.

Aquí puedes añadir cualquier estilo personalizado que necesites.
*/
body {
font-family: 'Inter', sans-serif;
background-color: #0f172a;
color: #e2e8f0;
}

.hero-section {
  background-image: url('/portafolio/images/fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}