
/*inicio del boton que esta escondido en el menu principal, que se supone que es para la ventana emergente*/
.boton-emergente {
    margin: 10px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}
#boton-emergente {
    display: none; /* Oculta el botón */
}
.popup-container {
    width: 300px;
    margin: 100px auto; /* Centra la ventana emergente en la pantalla */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra para resaltar la ventana emergente */
}

h2 {
    color: #333;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave al pasar el mouse sobre el botón */
}

button:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el mouse */
}
/*Fin de la seccion del boton que esta escondido en el menu principal*/





/**/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.formulario {
    max-width: 400px;
    margin: 80px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.formulario h2 {
    text-align: center;
    margin-bottom: 20px;
}

.campo {
    margin-bottom: 15px;
}

.campo label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* Esto asegura que el padding no aumente el tamaño total del input o textarea */
}

textarea {
    height: 100px;
    /* Ajusta la altura según tus necesidades wey*/
    height: 100px;
    /* Establece una altura fija */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    /* Evita que el usuario pueda cambiar el tamaño del textarea */
}

.boton {
    text-align: center;
}

.boton button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}

/*navbar*/
* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: background-color 0.7s, padding 0.7s;
    padding: 30px 20px;
    z-index: 10;
}

header.abajo {
    background: #fff;
    padding: 15px 20px;
}

header .nombreE {
    position: relative;
    color: #000000;
    font-weight: bold;
    font-size: 3em;
    letter-spacing: 2px;
    transition: 1.5s;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
}

header ul li a {
    position: relative;
    font-family: helvetica;
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
}

.texto {
    position: relative;
    width: 100%;
    height: calc(100vh - 150px);
    background: url(../images/vaca.jpg);
    background-color: #ccc;
    /*Cambia el fondo del header*/
    background-size: cover;
    background-position: center center;
}


header.abajo .nombreE,
header.abajo ul li a {
    color: #000;
}

.last-updated {
    color: #666;
    font-size: 0.8em;
}

/*fin navbar*/

/*----------inicio del boton de mostrar mas ----------*/
button.mostrar-mas {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.mostrar-mas:hover {
    background-color: #0056b3;
}

/*----------fin del boton de mostrar mas ----------*/


/*----------inicio de los cards----------*/
/**/
.cardview {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.cardview img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
}

.cardview h5 {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.cardview p {
    font-size: 1rem;
    margin-bottom: 12px;
}

.cardview small {
    font-size: 0.8rem;
    color: #888;
}
/**/

.img-ixhuatlan {
    display: block;
    margin: 0 auto;
    /* Esto centra la imagen horizontalmente */
    max-width: 50%;
    /* Esto establece el ancho máximo de la imagen al 50% del contenedor */
    height: auto;
    /* Esto ajusta automáticamente la altura de la imagen según el ancho máximo */
}

#queSomos {
    padding: 80px;
    margin: 20px;
}

#servicios .tituloCard2 {
    font-size: 1.2em;
    /* Reducido el tamaño de fuente */
}

#servicios {
    padding: 80px;
    margin: 20px;
}

#noticias {
    padding: 80px;
    margin: 20px;
}

.card {
    margin-top: 100px;
    background-color: #fff;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}


.card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 0;
    text-align: justify;
    font-family: Arial, sans-serif;
    font-style: normal;
}

/*----------Card de contactanos----------*/
.icono-address,
.icono-contact,
.icono-codePostal,
.icono-mail {
    width: 20px;
    /* Ajusta el tamaño del icono */
    height: auto;
    /* Para mantener la proporción */
    margin-left: 10px;
    /* Ajusta la distancia entre el icono y el título */
    vertical-align: middle;
    /* Alinea verticalmente el icono con el texto */
}

/*----------Card de contactanos----------*/
#contactanos {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

#contactanos h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

.card-text,
.texto_noticias {
    margin-top: 20px;
}

.sub-direccion,
.sub-numero,
.sub-codigoPostal,
.sub-correo {
    margin-bottom: 20px;
}

.text-direccion,
.text-numero,
.text-codigoPostal,
.text-correo {
    font-weight: bold;
}

.info {
    margin-left: 10px;
}

/* Ajuste de estilos para pantallas más pequeñas */
@media screen and (max-width: 600px) {
    #contactanos {
        padding: 15px;
    }
}

/*fin de los cards*/


/* Inicio del Dropdown Button */
.dropbtn {
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #ddd;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #ddd;
}


/* Fin del Dropdown Button */

/* inicio de media querys */
/* media query para pantallas más pequeñas */
@media screen and (max-width: 600px) {
    .formulario {
        max-width: 300px;
        margin: 50px auto;
        padding: 15px;
    }

    .campo input,
    .campo textarea {
        width: calc(100% - 20px);
    }

    .boton button {
        padding: 8px 16px;
    }
}

/* media query para pantallas aún más pequeñas */
@media screen and (max-width: 400px) {
    .formulario {
        max-width: 250px;
        margin: 30px auto;
        padding: 10px;
    }

    .campo input,
    .campo textarea {
        width: calc(100% - 10px);
    }

    .boton button {
        padding: 6px 12px;
    }
}

/* final de media querys */